.comment {
  display: flex;
  align-items: flex-start;
  height: auto;
  flex-direction: column;
}
.comment img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.user {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
}
.commentBody {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 33px);
  height: 100%;
}

.commentBody .body {
  font-size: 14px;
  margin: 0.1rem 0;
  padding: 0.2rem;
  white-space: normal;
}

.user p {
  margin: 0;
  font-size: 12px;
  font-weight: 700;
}
.hr {
  border: 0;
  height: 1px;
  background: #333;
  width: 100%;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.dateBody {
  font-size: 9px;
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
}
.dateBody p {
  margin: 0;
}

.commentRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.commentRight button {
  background: none;
  border: none;
  outline: none;
  color: red;
}
.userLink {
  text-decoration: none;
  color: white;
}
.commentRight button:active,
.commentRight button:hover,
.userLink {
  cursor: pointer;
}
